.card-perfil{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: aliceblue;
}
.card-perfil__imagem{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid white;
}