*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.corpo{
    display: flex;
    justify-content: center;
    align-items: center;

}
    */
.mamae{
    width: 920px;
    height: 800px;
    border: 2px dashed salmon;
    padding: 20px;
      align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto;
}
.mamae__filhinho {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 150px;
    height: 150px;
    background-color: salmon;
    border: 2px dashed black;
}
.filhinho--azul{
    background-color: blue;
    color: white;
}